#img-div img {
        display: block;
        max-width: 100%;
        width: 20%;
        height: auto;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        border-radius: 13px;
}
#img-div{
        background-color: #ffe8d6;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;                        
        margin: auto;
        border-radius: 0px 0px 1em 1em;
        
}
#img-div h1{
        font-size: 3em;
        padding-bottom: 1%;
        padding-top: 2%;
        font-family: 'Fira Sans',Arial, Helvetica, sans-serif
}
#img-div p{
         font-family:'Roboto','Times New Roman', Times, serif;
}
#main{
        text-align: center;
        
        background-color:#b7b7a4;
                
}
html{
        background-color:#b7b7a4;
        
}
#img-caption{
        padding-top: 1%;
        padding-bottom: 2%;
        font-size: medium; 
        font-family:'Roboto','Times New Roman', Times, serif;   
}
.container{
        padding-top: 8%;
}
.content{
        background-color: #ffe8d6;
        max-width: 90%;
        margin: auto;
        border-radius: 25pt;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
footer{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 14pt;
        font-weight: 600;
        font-family:'Fira Sans',Arial, Helvetica, sans-serif;
}
footer a{
        color: black;
        
}
.content ul{
        list-style-position: inside;
        text-align: left;
        max-width: 70%;
        margin: auto;
        font-size: 1.25em;
        font-family:'Roboto','Times New Roman', Times, serif;
}
.content h2{
        padding-bottom: 2%;
        text-decoration: underline;
        font-family: 'Fira Sans',Arial, Helvetica, sans-serif;
}
.content li{
        padding-bottom: 4%;
}